body{
	background-image:url(https://media.istockphoto.com/id/1174598609/es/foto/conjunto-de-electrodom%C3%A9sticos-contempor%C3%A1neos-aislados-en-blanco.jpg?s=612x612&w=0&k=20&c=3M_f_azyvD1F9LX8WTgJ3FD5jLSEKMhTWfNgDQHbNe0=);
	background-size:cover;
	background-attachment: fixed;
}
#login{
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items:center;
	background:rgba(147, 164, 255, 0.7);
	width:50%;
	height:40vh;
	margin:50px auto;
	border-radius:10px 10px 10px 10px;
}
label{
    text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	color:rgba(1, 0, 2, 0.87);
}
h1{
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
}
form{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
input{
padding:8px;
border-radius:10px 10px 10px 10px;
}
#iniciar{
	margin-top:10px;
	padding: 7px;
	border-radius:10px 10px 10px 10px;
}